<form
  class="flex flex-row flex-wrap w-1/5 mx-auto justify-evenly lg:justify-between lg:w-1/2 xl:w-2/5"
  (ngSubmit)="onSubmit()"
  [formGroup]="jobSearch"
>
  <input
    class="w-40 p-1 mb-2 text-sm border-2 border-gray-400 rounded-md"
    type="text"
    name="title"
    placeholder="Job title"
    formControlName="title"
  />
  <input
    class="w-40 p-1 mb-2 text-sm border-2 border-gray-400 rounded-md"
    type="text"
    name="city"
    placeholder="City"
    formControlName="city"
  />
  <select
    class="p-1 mb-2 text-sm rounded-md"
    name="source"
    formControlName="source"
  >
    <option *ngFor="let source of sources" [ngValue]="source">
      {{ source.name }}
    </option>
  </select>
  <input
    class="p-1 px-2 mb-2 text-sm bg-blue-200 border-gray-400 rounded-md"
    type="submit"
    value="Search"
  />
</form>
